.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Instrument Sans';
} */

.app-container {
  width: 100%;
  margin: 0 auto;
  float: left;
  font-family: 'Instrument Sans';
}

.graphyNavbarLogo{
  margin-left: 10px;
}

#name{
  border-radius: 12px;
}

#subject{
  border-radius: 12px;
}

.ebook-form-container{
  /* width: 95%;  */
  /* float: left;  */
  font-family: 'Instrument Sans';
  margin: 20px; 
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.form-group{
  margin-bottom: 10px;
}

.suggestion-cards-container {
  width: 95%;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
}



.card {
  width: 24%;
  margin-bottom: 10px;
  height: 6.875rem;
  border-radius: 12px;
  background: linear-gradient(45deg, #E5E5E5 0%, #E5E5E5 50%, transparent 50%, transparent 100%),
              linear-gradient(232.41deg, #E3EEFE 1.43%, #E3E7FE 11.74%, #FFFFFF 34.45%);
  background-size: 100% 0px, 100% 100%; /* Adjust the gradient size as needed */
  background-repeat: no-repeat;
}


.card-body img{
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-text {
  font-family: 'Instrument Sans';
  font-size: 1.1rem;
  text-align: left;
  margin-top: 20px;
  font-weight: 500;
  color: rgba(57, 63, 65, 1);
}

.btn-primary {
  width: 143.95px;
  height: 32px;
  border-radius: 8px;
  align-self: flex-end;
  margin-left: 600px;
  font-size: 12px;
  background-color: #6059FF;
  border: none;
  padding: 12px,16px,12px,12px;
}

.btn-primary img{
  vertical-align: middle;
  margin-right: 10px;
}

.btn-outline-secondary{
  width: 130px;
  height: 32px;
  font-family: 'Instrument Sans';
  align-self: flex-end;
  font-size: 12px;
  color: rgba(96, 89, 255, 1);
  font-weight: 800;
  border-color: #6059FF;
}

.btn-outline-secondary img{
  vertical-align: middle;
  margin-right: 10px;
  
}

.btn-info{
  width: 60px;
  height: 32px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-family: 'Instrument Sans';
  background: rgba(96, 89, 255, 1);
  border-color: #6059FF;
}

.btn-success{
  width: 143.95px;
  height: 32px;
  border-radius: 8px;
  padding: 12px,16px,12px,12px;
  gap: 8px;
  background-color: #6059FF;
  border: none;
  margin-left: 80%;
}

.btn-group {
  margin-bottom: 24.85%;
}

#keyTopicsForm{
  height: 40rem;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
}

.btn-success img{
  vertical-align: middle;
  margin-right: 10px;
}

.mt-3{
  font-size: 12px;
  float: right;
  font-family: 'Instrument Sans';
  margin-right: 20px;
}

.group{
  padding-left: 10px;
}

.form-control{
  font-family: 'Instrument Sans';
}

.form-group2{
  margin-top: 15px;
}


.form-check{
  margin-left: 10px;
  margin-top: 15px;
  padding-left: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  width:235.5px;
  height:40px;
  border: 1px solid rgba(233, 233, 242, 1);
  border-radius: 8px;
  align-items: center;
}

.form-check img{
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: 50px;
}

.form-header{
  font-weight: 600;
  padding: 3px; 
}

input::placeholder{
  color: rgba(170, 177, 183, 1);
}

.left{
  width: 50%;
  float: left;
  height: 100%;
  font-family: 'Instrument Sans';
}

.right{
  width: 50%;
  height: 100%;
  float: right;
  background: 
  linear-gradient(135deg, #FDA6FF 0%, #FFDF70 100%) top left,
  linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(96, 89, 255, 0.357) 100%) top right,
  linear-gradient(315deg, rgba(255, 255, 255, 0.7) 0%, rgba(96, 89, 255, 0.357) 100%) bottom left,
  linear-gradient(315deg, #FDA6FF 0%, #FFDF70 100%) bottom right;
  background-origin: border-box;
  background-clip: content-box, border-box, border-box, border-box;
  background-repeat: no-repeat;
  font-family: 'Instrument Sans';
}

.card-side{
  width: 90%; 
  height: 655px;
  margin-bottom: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.enterTitle{
  width: 45vw;
  max-width: 45vw;
  padding-left: 30px;
  font-weight: 1000;
  font-size: 60px;
  color: rgba(35, 34, 40, 1);
  margin-top: 30px;
}

.bytext{
  margin-top: 23%;
  margin-left: 5%;
  font-weight: 600;
  width: 18vw;
}


h5{
  font-weight: bolder;
  color: rgba(58, 61, 80, 1);
  margin-left: 10px;
  letter-spacing: 0.1cap; 
}

.sideViewBottom{
  display: flex;
  max-height: 15rem;
  flex-direction: row;
  width: 44vw;
  max-width: 44vw;
}


#graphyLogoSideView{
  margin-left: 38%;
  margin-right: 2%;
  height: 1.25rem;
  margin-top: 23%;
}

h2{
  font-weight: 800;
  color: rgba(35, 34, 40, 1);

}


#coverImage{
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.contentLabel{
  margin-left: 25px;
  color: rgba(135, 140, 144, 1);

}

.logo-display{
  margin-left: 1%;
  margin-right: 25%;
}

.card-side2{
  width: 90%;
  height: 650px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 0.5rem;
  overflow: auto;
}

.ebookdisplay-header{
  position: absolute;
  left: 20px;
  top: 70px;
}

#pageCounter{
  margin-top: 2rem;
  margin-left: 1rem;
  width: 135px;
  height: 35px;
  font-size: 12px;
  color: #282c34;
}

.regen-ebook{
  max-width: 55rem;
  width: 41rem;
  margin-top: 6%;
  display: flex;
  flex-direction: row;
}


.btn-light{
  width: 130px;
  height: 32px;
  font-family: 'Instrument Sans';
  font-size: 11px;
  color: rgba(58, 61, 80, 1);
  font-weight: 800;
  border: 1px solid rgba(233, 233, 242, 1);
  border-radius: 10px;
}

.btn-light img{
  vertical-align: middle;
  margin-right: 10px;
  object-fit: cover;
}

#publish-button{
  background-color: #6059FF;
  color: white;
}


@media screen and (max-width: 500px) {
  .bytext{
    font-size: 0.75rem;
    margin-right: 10%;
  }
  #graphyLogoSideView{
    height: 2.5rem;
    width: 2.5rem;
  }
  .enterTitle{
    margin-top: 25%;
    font-size: 2.5rem;
  }
  .sideViewBottom{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-left: 25%;
  }
  .card-side{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 545px) {
  .card-side{
    display: flex;
    flex-direction: column;
  }

  .sideViewBottom{
    margin-left: 50px;
  }

  #graphyLogoSideView{
    margin-left: 100%;
  }

  .btn-group{
    margin-bottom: 0;
  }
  .btn-success{
    margin-left: 40%;
  }
}

@media screen and (max-width: 1120px){
  .card-side{
    display: flex;
  }
  .card{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
  }
  .card-text{
    font-size: 0.95rem;
  }
  .appEbook{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
    margin-top: 5%;
  }
  #coverImage{
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
  }
  .regen-ebook{
    width: 55rem;
  }
  .logo-display{
    margin-right: 40%;
  }
}

@media screen and (max-width: 1435px) {
  .btn-success{
    margin-left: 70%;
  }
}

.loadingSpinner {
  margin-left: 45%;
  margin-top: 40%;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-border{
  height: 1rem;
  width: 1rem;
  align-items: center;
  vertical-align: middle;
}

#modalDownload{
  width: 457px;
  height: 40px;
  background-color: rgba(42, 40, 97, 1);
  margin-top: 1rem;
  border-radius: 10px;
}

.modalTitle{
  font-family: 'Instrument Sans';
  width: 452px;
  height: 32px;
  margin-top: 1rem;
  font-weight: 600;
}

.modalForm{
  font-family: 'Instrument Sans';
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.close-button{
  width: 24px;
  height: 24px;
  background-color: white;
  border: none;
}