.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Instrument Sans';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  width: 95%;
  margin: 0 auto; /* Center the container horizontally */
  float: left;
  font-family: 'Instrument Sans';
}

.ebook-form-container{
  width: 95%; 
  float: left; 
  font-family: 'Instrument Sans';
  margin: 20px; 
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.suggestion-cards-container {
  width: 95%; 
  /* margin: 20px; */
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
}


.card {
  width: 180px; /* Calculate card width with spacing */
  margin-bottom: 10px;
  height: 110px;
  border-radius: 10px;
}
/* 
.card-title {
  font-family: 'Instrument Sans';
  font-size: 1.2rem;
  font-weight: 1000;
} */

.card-text {
  font-family: 'Instrument Sans';
  font-size: 1.1rem;
  /* text-align: center; */
  margin: 15px;
  font-weight: 500;
  color: rgba(57, 63, 65, 1);

}

.btn-primary {
  width: 139.95px;
  height: 32px;
  align-self: flex-end;
  margin-left: 580px;
  font-size: 12px;
  background-color: #6059FF;
  border: none;
}

.group{
  padding-left: 10px;
}

.form-control{
  font-family: 'Instrument Sans';
}

.form-header{
  font-family: 'Instruments Sans';
  font-weight: bolder;
  padding: 3px; 
}

.left{
  width: 50%;
  float: left;
  height: 100%;
  font-family: 'Instrument Sans';
}

.right{
  width: 50%;
  height: 100%;
  float: right;
  background: 
  linear-gradient(135deg, #FDA6FF 0%, #FFDF70 100%) top left,
  linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(96, 89, 255, 0.357) 100%) top right,
  linear-gradient(315deg, rgba(255, 255, 255, 0.7) 0%, rgba(96, 89, 255, 0.357) 100%) bottom left,
  linear-gradient(315deg, #FDA6FF 0%, #FFDF70 100%) bottom right;
  background-origin: border-box;
  background-clip: content-box, border-box, border-box, border-box;
/* background-size: 50% 50%; */
background-repeat: no-repeat;
font-family: 'Instrument Sans';
}

.viewimage{
  width: 768px;
  height: 725px;
}

.card-side{
  width: 90%; /* Calculate card width with spacing */
  height: 650px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 40px;
  background-color: white;
}

.cardText-side{
  width: 90%; /* Calculate card width with spacing */
  height: 80%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 50px;
  background-color: white;
}

.sideimage{
  background-color: white;
  float: right;
  margin-right: 30px;
}

.enterTitle{
  width: 600px;
  padding-left: 30px;
  font-weight: 1000;
  font-size: 60px;
  /* padding-bottom: 90px; */
  color: rgba(35, 34, 40, 1);
  margin-top: 10px;
}

.bytext{
  margin-left: 30px;
  font-weight: 600;
  margin-top: 12%;
  width: 400px;
}

h5{
  font-weight: bolder;
  color: rgba(58, 61, 80, 1);
  margin-left: 10px;
  letter-spacing: 0.1cap;
  
}

.sideh5{
  float: right;
  margin-right: 30px;
  font-weight:bolder;
  color: rgba(58, 61, 80, 1);
  letter-spacing: 0.1cap;
}

h2{
  font-weight: 800;
  color: rgba(35, 34, 40, 1);

}


.card-image-top{
  width: 600px;
  height: 205px;
}

#coverImage{
  border-radius: 10px;
}

.contentLabel{
  margin-left: 25px;
  color: rgba(135, 140, 144, 1);

}

